<p>FORM RENDERIZADO</p>

<form [formGroup]="form" (ngSubmit)="submit()">
  <input placeholder="Login" formControlName="login" />
  <input type="password" placeholder="Senha" formControlName="senha" />
  <input placeholder="Nome" formControlName="nome" />

  <input placeholder="Telefone" formControlName="telefone" />
  <input placeholder="Cidade" formControlName="cidade" />
  <input placeholder="Estado" formControlName="estado" />
  <input placeholder="Rua" formControlName="rua" />
  <input placeholder="Número" formControlName="numero" />
  <input placeholder="URL da foto" formControlName="fotoPerfilUrl" />

  <app-button type="submit" [loading]="isLoading">Salvar</app-button>
</form>
