<p>FORM RENDERIZADO</p>

<form [formGroup]="form" (ngSubmit)="submit()">
  <app-input label="Login" placeholder="Digite seu login" controlName="login" />
  <app-input label="Senha" type="password" placeholder="Insira sua senha" controlName="senha" />
  <app-input label="Nome" placeholder="Insira seu nome" controlName="nome" />

  <input placeholder="Telefone" formControlName="telefone" />
  <input placeholder="Cidade" formControlName="cidade" />
  <input placeholder="Estado" formControlName="estado" />
  <input placeholder="Rua" formControlName="rua" />
  <input placeholder="Número" formControlName="numero" />
  <input placeholder="URL da foto" formControlName="fotoPerfilUrl" />

  <app-button type="submit" [loading]="isLoading">Salvar</app-button>
</form>
