<div class="flex flex-col min-h-screen">
  <header>
    <nav class="flex items-center justify-between px-8 bg-black py-4 text-white">
      <div>
        <a href="/" class="text-xl sm:text-3xl cursor-pointer">BStyle</a>
      </div>

      @if (auth.isLogged()) {
        <div class="flex justify-center items-center gap-4 sm:gap-8">
          <app-button (clicked)="toggleMenu(); $event.stopPropagation()" class="hover:underline">
            {{ auth.user()?.nome }}
          </app-button>
        </div>
      } @else {
        <div class="flex gap-2 sm:gap-8">
          <app-link to="/register" class="sm:text-lg">Cadastro</app-link>

          <app-link
            to="/login"
            class="bg-white text-black rounded px-2 hover:brightness-75 sm:text-lg decoration-0 transition"
          >
            Entrar
          </app-link>
        </div>
      }
    </nav>
  </header>

  <main class="flex-1 px-8">
    @if (openProfileMenu()) {
      <div
        class="absolute flex flex-col bg-white border border-black/30 rounded-lg shadow-lg mt-4 right-4 sm:right-12 py-2"
        #menuContainer
      >
        <app-link
          [to]="['/user', createSlug(auth.user()?.nome ?? '')]"
          class="hover:bg-gray-300 text-left transition cursor-pointer w-full decoration-0 px-4 py-1.5"
          >Meu perfil</app-link
        >
        <button
          (click)="auth.logout(); closeMenu()"
          class="hover:bg-red-300 text-start transition cursor-pointer decoration-0 px-4 py-1.5"
        >
          Sair
        </button>
      </div>
    }

    <router-outlet></router-outlet>
  </main>

  <footer class="flex flex-col sm:flex-row gap-6 sm:gap-12 px-8 bg-black py-4 text-white">
    <div>
      <label class="font-bold mb-2">Mapa do site</label>
      <ul>
        <li>
          <app-link to="/">Home</app-link>
        </li>
        <li>
          <app-link to="/products">Produtos</app-link>
        </li>
        <li>
          <app-link to="/categories">Categorias</app-link>
        </li>
        <li>
          <app-link to="/profile">Perfil</app-link>
        </li>
      </ul>
    </div>

    <div>
      <label class="font-bold mb-2">Categorias</label>
      <ul>
        <li>
          <app-link to="#">Roupas</app-link>
        </li>
        <li>
          <app-link to="#">Acessórios</app-link>
        </li>
        <li>
          <app-link to="#">Plus size</app-link>
        </li>
        <li>
          <app-link to="#">Tênis</app-link>
        </li>
      </ul>
    </div>
  </footer>
</div>
